//Colors Resource: https://www.cdnfonts.com/gilroy-bold.font
@import url('http://fonts.cdnfonts.com/css/effra-heavy');
@import url('http://fonts.cdnfonts.com/css/good-dog');



//Fonts weight and family

$Effra-Heavy: 'Effra Heavy', sans-serif;
$Effra-Light: 'Effra Light', sans-serif;
$Effra-Medium: 'Effra Medium', sans-serif;
$Effra: 'Effra', sans-serif;

$GoodDog-Plain: 'GoodDog Plain', sans-serif;
$GoodDog-Cool: 'GoodDog Cool', sans-serif;


//Font Size
$Font-Size-14px: 14px;
$Font-Size-18px: 18px;
$Font-Size-24px: 24px;
$Font-Size-36px: 36px;
$Font-Size-64px: 64px;
$Font-Size-72px: 72px;
