@use "Fonts";
@use "Colors";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    
}
body{
    font-family: Fonts.$Effra;
    font-size: Fonts.$Font-Size-18px;
}
.container{
    .wrapper{
        background-color: Colors.$Black;
        color: Colors.$White;
        .contained{
            background-image: url(../../Assets/Images/Ornament.svg);
            background-size: cover;
            max-width: 1280px;
            width: 89%;
            margin: auto;
            .navigationSection{
                .navigation{
                    .container{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: row;
                        padding-top: 29px;
                        padding-bottom: 29px;
                        .logoWrapper{
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            .logoTextWrapper{
                                margin-left: 10.32px;
                            }
                        }
                        .menuListWrapper{
                            font-family: Fonts.$Effra;
                            .menuList{
                                display: flex;
                                align-items: center;
                                flex-direction: row;
                                column-gap: 40px;
                                li{
                                    cursor: pointer;
                                }
                            }
                        }
                        .callToActionWrapper{
                            .loginButton, .registerButton{
                                font-size: Fonts.$Font-Size-18px;
                                cursor: pointer;
                            }
                            .loginButton{
                                border: none;
                                background-color: transparent !important;
                                color: Colors.$White;
                            }
                            .registerButton{
                                padding: 10px 32px;
                                border-radius: 40px;
                                margin-left: 40px;
                            }
                        }
                    }
                }
            }
            .heroSection{
                margin-top: 99px;
                .hero{
                    .container{
                        .heroMessageWrapper{
                            .minimizeTabs, .findTrends{
                                text-align: center;
                                font-size: Fonts.$Font-Size-72px;
                                line-height: 112%;
                            }
                            .heroDescription{
                                width: 667px;
                                line-height: 150%;
                                text-align: center;
                                margin: auto;
                                margin-top: 24px;
                                color: Colors.$Grey;
                            }
                            .callToActionWrapper{
                                text-align: center;
                                position: relative;
                                width: 297.42px;
                                margin: auto;
                                margin-top: 40px;
                                .getStartedButton{
                                    padding: 16px 32px;
                                    border-radius: 40px;
                                    font-size: Fonts.$Font-Size-18px;
                                    background-color: Colors.$Green-Yellow;
                                    border: 1px Colors.$Green-Yellow solid;
                                    font-family: Fonts.$Effra-Heavy;
                                    cursor: pointer;
                                    position: relative;
                                }
                                .researchStartsHereWrapper{
                                    position: absolute;
                                    top: -15px;
                                    right: -50px;
                                    transform: rotate(5deg);
                                    .researchStartsHere{
                                        font-family: Fonts.$GoodDog-Plain;
                                        text-align: center;
                                        width: 93px;
                                        margin: auto;
                                        .arrowImage{
                                            float: left;
                                        }
                                    }
                                    .arrowImage{
                                        transform: rotate(-20deg);
                                    }
                                }
                            }
                        }
                        .socialmediaCardWrapper{
                            display: flex;
                            flex-direction: row;
                            position: relative;
                            max-width: 1076.51px;
                            margin: auto;
                            margin-top: 94.86px;
                            padding-bottom: 91.27px;
                            .twitterSocialMedia, .pinterestSocialMedia, .facebookSocialMedia, .dribbleSocialMedia{
                                
                            }
                            .twitterSocialMedia{
                                transform: rotate(-4deg);
                                z-index: 10;
                            }
                            .pinterestSocialMedia{
                                z-index: 5;
                                margin-left: -145px ;
                                margin-top: 70px;
                                transform: rotate(2deg);
                            }
                            .facebookSocialMedia{
                                margin-left: -110px ;
                                transform: rotate(-4deg);
                                margin-top: 10px;
                                z-index: 3;
                            }
                            .dribbleSocialMedia{
                                transform: rotate(2deg);
                                margin-top: 60px;
                                margin-left: -105px ;
                                z-index: 2;
                            }
                        }
                    }
                }
            }
        }
    }
    .newTabsSection{
        background-color: Colors.$Green-Yellow;
        .newTabs{
            .container{
                max-width: 1280px;
                width: 89%;
                margin: auto;
                .openNewTabsWrapper{
                    text-align: center;
                    padding-top: 140px;
                    padding-bottom: 140px;
                    .openNewTabsTitle{
                        font-size: Fonts.$Font-Size-72px;
                    }
                    .onlyOneTabWrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 60px;
                        .theOneTabWrapper{
                            padding: 60px 80px;
                            background-color: Colors.$White;
                            border-radius: 40px;
                        }
                        .discoverATrendSolutionWrapper, .justOneTabWrapper{
                            font-family: Fonts.$GoodDog-Plain;
                        }
                        .justOneTabWrapper{
                            width: 93px;
                            .arrowImage{
                                margin-left: 24px;
                                float: left;
                            }
                        }
                        .discoverATrendSolutionWrapper{
                            transform: rotate(5deg);
                            width: 93px;
                            margin-right: 24px;
                            .arrowImage{
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .onlyOneTabsDescription{
                        max-width: 667px;
                        width: 70%;
                        margin: auto;
                        margin-top: 60px;
                        line-height: 150%;
                        //ont-size: Fonts.$Font-Size-14px;
                    }
                    
                }
            }
        }
    }
    .startupGrowthSection{
        .startupGrowth{
            .container{
                max-width: 1160px;
                width: 80.056%;
                margin: auto;
                .sectionTitleWrapper{
                    font-size: Fonts.$Font-Size-64px;
                    margin-top: 140px;
                    padding-bottom: 140px;
                    .sectionTitleThree{
                        .highlighted{
                            color: Colors.$Silver-Chalice;
                        }
                    }
                    .sectionTitleFour{
                        color: Colors.$Silver-Chalice;
                    }
                }
                .someClientsWrapper{
                    .someClientsTitle{
                        text-align: center;
                        margin: auto;
                        font-size: Fonts.$Font-Size-64px;
                    }
                    .someClientsLogoWrapper{
                        display: grid;
                        //grid-template-columns: auto auto auto auto;
                        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
                        gap: 32px;
                        margin-top: 80px;
                        .someClientsLogoImage{
                            width: 146px;
                            height: 44px;
                            padding: 40px 52px;
                            background-color: Colors.$Wild-Sand;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
    .allPlatformConnectSection{
        margin-top: 140px;
        padding-top: 140px;
        background-color: Colors.$Alabaster;
        .allPlatformConnect{
            .container{
                max-width: 1160px;
                width: 80.056%;
                margin: auto;
                .allPlatformConnectTitle{
                    text-align: center;
                    font-weight: Fonts.$Effra-Heavy;
                    font-size: Fonts.$Font-Size-64px;
                }
                .socialMediaWrapper{
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    gap: 24px;
                    justify-content: center;
                    margin-top: 80px;
                    overflow: auto;
                    .socialMediaImage{
                        cursor: pointer;
                        padding: 32px;
                        background-color: Colors.$White;
                    }
                }
                .tweetContainer{
                    text-align: center;
                    margin-top: 60px;
                    .tweetWrapper{
                        .tweetImages{
                            width: 100%;
                            max-width: 800px;
                            margin-bottom: 43px;
                        }
                    }
                    .viewMoreTrendButton{
                        padding: 18px 32px;
                        border-radius: 40px;
                        background-color: Colors.$Black;
                        color: Colors.$White;
                        font-family: Fonts.$Effra-Heavy;
                        font-size: Fonts.$Font-Size-18px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .bestDealsSection{
        background-color: Colors.$Black;
        margin-top: 140px;
        .bestDeals{
            .container{
                max-width: 1160px;
                width: 80.56%;
                margin: auto;
                color: Colors.$White;
                padding-top: 140px;
                padding-bottom: 140px;
                .bestDealsTitle{
                    text-align: center;
                    font-size: Fonts.$Font-Size-64px;
                    font-family: Fonts.$Effra-Heavy;
                    color: Colors.$White;
                }
                .subscriptionToggle{
                    width: 429.42px;
                    margin: auto;
                    .subscriptionToggleWrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 40px;
                        .monthly{
                            font-size: Fonts.$Font-Size-24px;
                        }
                        .toggle{
                            cursor: pointer;
                            input:checked + .subscriptionToggleInputCircle{
                                transform: translate(50px);
                                transition-duration: 1s;
                            }
                            .subscriptionToggleInput{
                                width: 104px;
                                height: 52px;
                                border-radius: 99px;                            
                                vertical-align: middle;
                                border: 1px solid #ddd;
                                appearance: none;
                                -webkit-appearance: none;
                                outline: none;
                                cursor: pointer;
                                background-color: Colors.$White;
                                position: relative;
                            }
                            .subscriptionToggleInputCircle{
                                 background-color: Colors.$Green-Yellow;
                                 border: 1px Colors.$Green-Yellow;
                                 width: 36px;
                                 height: 36px;
                                 border-radius: 100%;
                                 margin-top: -47px;
                                 margin-left: 10px;
                                 position: absolute;
                                 transition-duration: 1s;
                            }
                        }
                        .yearlyWrapper{
                            position: relative;
                            .yearly{
                                font-size: Fonts.$Font-Size-24px;
                                font-family: Fonts.$Effra-Medium;
                                color: Colors.$Wild-Sand;
                            }
                            .saveTenPercentWrapper{
                                position: absolute;
                                margin-top: -50px;
                                margin-left: 90px;
                                width: 88.42px;
                                font-family: Fonts.$GoodDog-Plain;
                                text-align: center;
                                transform: rotate(5deg);
                                .arrowImage{
                                    float: left;
                                }
                            }
                        }
                    }
                }
                .subscriptionCardWrapper{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 40px;
                    color: Colors.$Black;
                    .cardOne, .cardTwo, .cardThree{
                        width: 296px;
                        padding: 32px;
                        background-color: Colors.$White;
                        border-radius: 16px;
                        .cardTitle{
                            font-size: Fonts.$Font-Size-36px;
                            font-family: Fonts.$Effra-Medium;
                        }
                        .cardSubtitle{
                            margin-top: 8px;
                        }
                        .line{
                            margin-top: 32px;
                            border: 1px Colors.$Black solid;
                            background-color: Colors.$Black;
                        }
                        .monthlySubscriptionPrice{
                            margin-top: 24px;
                            font-size: Fonts.$Font-Size-64px;
                            font-family: Fonts.$Effra-Medium;
                            .month{
                                font-size: Fonts.$Font-Size-18px;
                            }
                        }
                        .subscriptionFeatures{
                            margin-top: 40px;
                            .features{
                                display: flex;
                                margin-bottom: 27px;
                                align-items: center;
                                .featuresImage{
                                    width: 24px;
                                    height: 24px;
                                }
                                .featureName{
                                    margin-left: 8px;
                                }
                            }
                        }
                        .callToActionButton{
                            cursor: pointer;
                            padding: 16px 80px;
                            border-radius: 29px;
                            background-color: Colors.$Green-Yellow;
                            border: 1px Colors.$Green-Yellow solid;
                            font-family: Fonts.$Effra-Heavy;
                            font-size: Fonts.$Font-Size-18px;
                        }
                    }
                    .cardOne{
                        .callToActionButton{
                            margin-top: 160px;
                        }
                    }
                    .cardTwo{
                        background-color: Colors.$Green-Yellow;
                        .callToActionButton{
                            background-color: Colors.$Black;
                            border: 1px Colors.$Black solid;
                            font-family: Fonts.$Effra-Heavy;
                            color: Colors.$White;
                            margin-top: 112px;
                        }
                    }
                    .cardThree{
                        .callToActionButton{
                            margin-top: 16px;
                        }
                    }
                }
            }
        }
    }
    .joinUsSection{
        background-color: Colors.$Green-Yellow;
        .joinUs{
            .container{
                max-width: 1160px;
                width: 80.56%;
                margin: auto;
                color: Colors.$White;
                padding-top: 140px;
                padding-bottom: 140px;
                .titleOne, .titleTwo{
                    font-size: Fonts.$Font-Size-72px;
                    font-family: Fonts.$Effra-Heavy;
                    line-height: 112%;
                    text-align: center;
                }
                .titleOne{
                    color: Colors.$Black;
                }
                .titleTwo{
                    color: Colors.$Atlantis;
                }
                .joinNowButton{
                    padding: 16px 32px;
                    border-radius: 40px;
                    font-size: Fonts.$Font-Size-18px;
                    text-align: center;
                    background-color: Colors.$Black;
                    color: Colors.$White;
                    margin: auto;
                    margin-top: 40px;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
    }
    .footerSection{
        .footer{
            .container{
                max-width: 1260px;
                width: 87.5%;
                margin: auto;
                color: Colors.$Black;
                padding: 29px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                .logoWrapper{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .logoText{
                        font-size: Fonts.$Font-Size-24px;
                        font-family: Fonts.$Effra-Heavy;
                        margin-left: 10.32px;
                    }
                }
                .footerMenuList{
                    display: flex;
                    align-items: center;
                    column-gap: 40px;
                    li{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .container{ 
        .bestDealsSection{ 
            .bestDeals{ 
                .container{
                    .subscriptionCardWrapper{
                        flex-direction: column;
                        .cardOne, .cardTwo, .cardThree{
                            margin: auto;
                            width: 50%;
                            padding: 50px;
                            .callToActionButton{
                                width: 100%;
                            }
                        }
                        .cardTwo, .cardThree{
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }
}

//Display Hamburger menu
@media only screen and (max-width: 1140px) {
    .container{ 
        .wrapper{ 
            .contained{ 
                .navigationSection{ 
                    .navigation{ 
                        .container{
                            .menuListWrapper{
                                display: none;
                            }
                            //Display Hamburger menu
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1220px) {
    .container{ 
        .wrapper{ 
            .contained{ 
                .heroSection{ 
                    .hero{ 
                        .container{ 
                            .socialmediaCardWrapper{
                                .pinterestSocialMedia{
                                    margin-left: -190px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1120px) {
    .container{ 
        .wrapper{ 
            .contained{ 
                .heroSection{ 
                    .hero{ 
                        .container{ 
                            .socialmediaCardWrapper{
                                .twitterSocialMedia{
                                    margin-left: -31px;
                                }
                                .facebookSocialMedia{
                                    margin-left: -134px;
                                }
                                .dribbleSocialMedia{
                                    margin-left: -140px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1120px) {
    .container{ 
        .wrapper{ 
            .contained{ 
                .heroSection{ 
                    .hero{ 
                        .container{ 
                            .socialmediaCardWrapper{
                                flex-direction: column;
                                text-align: center;
                                .twitterSocialMedia, .facebookSocialMedia, .dribbleSocialMedia, 
                                .pinterestSocialMedia{
                                    transform: rotate(0deg);
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .container{ 
        .newTabsSection{ 
            .newTabs{ 
                .container{ 
                    .openNewTabsWrapper{
                        .onlyOneTabWrapper{
                            display: block;
                            position: relative;
                            .theOneTabWrapper{
                                padding: 24px 0;
                                margin: auto;
                                width: 390px;
                                position: relative;
                            }
                            .discoverATrendSolutionWrapper{
                                position: absolute;
                                transform: rotate(0deg);
                                transform: translate(-50%,-50%);
                                .arrowImage{
                                    transform: rotate(150deg);
                                }
                            }
                            .justOneTabWrapper{
                                top: 0px;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
        .footerSection{ 
            .footer{ 
                .container{
                    flex-direction: column;
                    gap: 40px;
                    .footerMenuList{
                        flex-direction: column;
                        gap: 40px;
                    }
                }
            }
        }
    }
}